<html>
<head>
<meta charset="UTF-8">
<link href="/static/css/file.css" type="text/css" media="screen, projection" rel="stylesheet">
<link href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8%2F9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAjFJREFUeNqsU8uOElEQPffR3XQ3ONASdBJCSBxHos5%2B3Bg3rvkCv8PElS78gPkO%2FATjQoUdO2ftrJiRh6aneTb9sOpC4weMN6lcuFV16pxDIfI8x12OYIDhcPiu2Wx%2B%2FHF5CW1Z6Jyegt%2FTNEWSJIjjGFEUIQxDrFYrWFSzXC4%2FdLvd95pRKpXKy%2BpRFZ7nwaWo1%2BsGnQG2260BKJfLKJVKGI1GEEJw7ateryd0v993W63WEwjgxfn5obGYzgCbzcaEbdsIggDj8Riu6z6iUk9SYZMSx8W0LMsM%2FSKK75xnJlIq80anQXdbEp0OhcPJ0eiaJnGRMEyyPDsAKKUM9clkYoDo3SZJzzSdp0VSKYmfV1co%2Bz580kw5KDIM8RbRfEnUf1HzxtQyMAGcaGruTKczMzEIaqhKifV6jd%2BzGQQB5llunF%2FM52BizC2K5sYPYvZcu653tjOM9O93wnYc08gmkgg4VAxixfqFUJT36AYBZGd6PJkFCZnnlBxMp38gqIgLpZB0y4Nph18lyWh5FFbrOSxbl3V4G%2BVB7T4ajYYxTyuLtO%2BCvWGgJE1Mc7JNsJEhvgw%2FQV4fo%2F24nbEsX2u1d5sVyn8sJO0ZAQiIYnFh%2BxrfLz%2Fj29cBS%2FO14zg3i8XigW3ZkErDtmKoeM%2BAJGRMnXeEPGKf0nCD1ydvkDzU9Jbc6OpR7WIw6L8lQ%2B4pQ1%2FlPF0RGM9Ns91Wmptk0GfB4EJkt77vXYj%2F8m%2B8y%2FkrwABHbz2H9V68DQAAAABJRU5ErkJggg%3D%3D" type="image/png" rel="icon">

<title>发布项目</title>
</head>
<body>

		<!-- 消息提醒 -->
		<div class="tip"></div>
		<!-- 消息提醒 -->
	
	
		 <!-- s 目录列表 -->
		<div class="list">
		
		<div class="hl p20" style="height:68px;line-height:68px;">
			<b><%= current_dir%></b>
			<input type="hidden" name="target" id="target" value="<%= target_dir%>">
			<input type="hidden" name="work" id="work" value="<%= current_dir%>">
		</div>
		
		<!-- s 操作目录 -->
		<div class="p20 toolbar clx">
				<form action="" method="POST" id="root">
					<input type="hidden" name="dir" id="dir" value="..."><a  href="javascript:;" alt="root">根目录</a>
				 </form>
			<% if (root_dir != current_dir ) { %>
				 <form action="" method="POST" id="backform">
					<input type="hidden" name="dir" id="dir" value=".."><a  href="javascript:;" alt="backform">返回上一级</a>
				 </form>
			<% } %>
		</div>
		<!-- e 操作目录 -->
		
		<!-- s 表头 -->
		<div class="hl p20 clx bb">
			<div class="col-1">文件名</div>
			<div class="col-2">大小</div>
			<div class="col-3">修改日期</div>
		</div>
		<!-- e 表头 -->
		
		
		
			<!-- s 循环 -->
			<% data.forEach(function(files){ %>
			<form action="" method="POST" id="from<%= files.number %>">
				<div class="row">
					<div class="col-1 <%= files.type %>">
						<input type="hidden" name="dir" value="<%= files.file %>">
						<i class="ifl"></i><!-- 
						 --><a  href="javascript:;" alt="from<%= files.number %>" class="hl fn <%= files.type %>"><%= files.file %></a>
					</div>
					<div class="col-2"><%= files.size %></div>
					<div class="col-3"><%= files.mtime %></div>
				</div>
			</form>
			<% }) %>
			<!-- e 循环 -->
			
			<div class="hl">
			&nbsp;
			</div>
		</div>
		<!-- e 目录列表 -->
	
	<script src="http://libs.baidu.com/jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript">
	
	function readdir(id){
		document.getElementById(id).submit();
	}
	
	$(document).ready(function(){
	
		$("a").click(function(){
			// 
			
			var me = $(this);
			
			var file = $('#work').val()+'\\'+me.text();
			var target = $('#target').val()+'/'+me.text();
			
			if(me.hasClass('file')){
				// 上传文件
				$.ajax({
				  type: 'POST',
				  url: '/receiver',
				  data: {
					to:target,
					file:file
				  },
				  dataType: 'json'
				}).success(function(data){
					$('.tip').text("发布成功！");
					$('.tip').fadeIn(500);
					$('.tip').fadeOut(1000);
					
				}).error(function(e){
					$('.tip').html('<span style="color:#f00;">发布失败！</span>');
					$('.tip').fadeIn(500);
				});
			}else{
				// 进入目录
				readdir(me.attr('alt'));
			}
		
		});
	});
	</script>
</body>
</html>